<%= content_for :title do %>
  Elgin Technology Center Class Offerings
<% end %>
<%= content_for :og do %>
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:title" content="Elgin Technology Center Class Offerings" />
  <meta property="og:description" content="<%= @class_offers.count %> Upcoming Education Opportunities" />
  <meta property="og:image" content="https://d33z4cqleaobgx.cloudfront.net/assets/etc_logo.png" />
<% end %>
<div class="row">
  <div class="large-12 columns">
    <div class="wrapper">
      <div data-alert class="alert-box secondary">
        Is there a class that you think we should offer?  <%= link_to "Tell us", "mailto:info@elgintech.org" %> about it.
        <a href="#" class="close">&times;</a>
      </div>
      <h2><%= @class_offers.count %> Upcoming Education Opportunities</h2>

      <% if @class_offers.present? %>
        <h5 class="subheader">We are proud to offer the following education opportunities:</h5>
      <% else %>
        <h5 class="subheader">Sorry, there are no classes open for registration right now.</h5>
        <br>
        <h5 class="subheader">Check out our upcoming <%= link_to "events and meetups", events_url %>.</h5>
      <% end %>

      <br>
      <h5 class="subheader">Sign up for our email list today, and be the first to know when we launch new classes.</h5>
      <div id="mc_embed_signup">
      <form action="http://elgintechnologycenter.us5.list-manage.com/subscribe/post?u=2b6f61931fddc864c8fd42fef&amp;id=4840d19b15" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="row">
          <div class="large-5 medium-6 columns end">
            <div class="row collapse">
              <div class="small-8 columns">
                <div class="mc-field-group">
                  <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your Email">
                </div>
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <div class="small-4 columns">
                <div id="mce-responses" class="clear">
                </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;"><input type="text" name="b_2b6f61931fddc864c8fd42fef_4840d19b15" value=""></div>
                <input type="submit" value="SIGN UP" name="subscribe" id="mc-embedded-subscribe" class="button postfix">
              </div>
            </div>
          </div>
        </div>
      </form>
      </div>

      <div class="classes">
        <% @class_offers.each do |class_offer| %>
          <div class="class-index-wrapper">
            <div class="row">
              <div class="small-12 columns">
                <h3 class="heavy"><%= link_to class_offer.name, class_url(class_offer) %> <span class="label <%= class_status(class_offer) %>"><%= class_offer.status.upcase %></span></h3>
                <h5 class="subheader class-question">Class Summary</h5>
                <h6 class="class-desc"><%= simple_format(h class_offer.summary.html_safe) %></h6>
                <h5 class="subheader class-question">Schedule</h5>
                <div class="class-desc">
                  <ul class="inline-list">
                    <%= class_schedule(class_offer) %>
                  </ul>
                </div>
                <br>
                <div class="show-links">
                  <%= link_to "LEARN MORE", class_url(class_offer) %>
                </div>
              </div>
            </div>
          </div>
          <% unless class_offer == @class_offers.last %>
            <div class="dotted-line"></div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>