<li>
  <div class="card">
    <div class="row">
      <div class="small-4 columns profile-photo">
        <%= link_to profile_url(object) do %>
          <%= image_tag object.avatar.url(:thumb), alt: "profile pic", class: "circular-profile-pic-small" %>
        <% end %>
        <div class="member-type">
          <p><%= profile_member_type(object) %></p>
        </div>
      </div>
      <div class="small-8 columns">
        <% if object.is_personal? %>
          <h5><%= link_to object.name, profile_url(object) %></h5>
          <p class="company"><%= object.company %></p>
        <% else %>
          <h5><%= link_to object.company, profile_url(object) %></h5>
          <p class="company"><%= object.name %></p>
        <% end %>
        <p>Member since: <%= object.user.member_since.strftime('%b %Y') %></p>
        <p>
          Skills:
          <% object.skill_list.first(3).each do |s| %>
            <%= link_to s, profiles_url(skill: s) %><%= last_skill(s, object.skill_list.first(3)) ? " ..." : "," %>
          <% end %>
        </p>
        <%= link_to "Learn more", profile_url(object) %>
      </div>
    </div>
  </div>
</li>