<li>
  <div class="card">
    <div class="row">
      <div class="small-4 columns profile-photo">
        <%= link_to profile_url(object) do %>
          <%= image_tag "profile_pic_small.jpg", alt: "profile pic", class: "circular-profile-pic-small" %>
        <% end %>
        <div class="member-type">
          <p>Premier</p>
        </div>
      </div>
      <div class="small-8 columns">
        <h5><%= link_to object.name, profile_url(object) %></h5>
        <p class="company"><%= object.company %></p>
        <p>Member since: <%= object.user.member_since %></p>
        <p>
          Skills:
          <% object.skill_list.first(4).each do |s| %>
            <%= link_to s, profiles_url(skill: s) %><%= last_skill(s, object.skill_list.first(4)) ? " ..." : "," %>
          <% end %>
        </p>
        <%= link_to "Learn more", profile_url(object) %>
      </div>
    </div>
  </div>
</li>