<%= content_for :title do %>
  Members of the Elgin Technology Center
<% end %>
<div class="row">
  <div class="large-12 columns">
    <div class="wrapper">
      <div class="row">
        <div class="large-6 medium-12 columns">
          <ul class="sub-nav profiles">
            <li class="<%= is_active_sub_nav?(nil) %>"><%= link_to "All", profiles_url %></li>
            <li class="<%= is_active_sub_nav?('companies') %>"><%= link_to "Companies", profiles_url(type: 'companies') %></li>
            <li class="<%= is_active_sub_nav?('premier') %>"><%= link_to "Premier", profiles_url(type: 'premier') %></li>
            <li class="<%= is_active_sub_nav?('member') %>"><%= link_to "Member", profiles_url(type: 'member') %></li>
          </dl>
        </div>
        <div class="large-5 large-offset-1 medium-6 columns left">
          <%= form_tag(profiles_url, method: "get") do %>
            <div class="row">
              <div class="small-8 columns">
                <%= text_field_tag :search, nil, placeholder: "search by name or skill" %>
              </div>
              <div class="small-4 columns">
                <%= submit_tag "Search", class: "postfix search button" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <div class="card-wrapper">
            <ul class="large-block-grid-2 small-block-grid-1">
              <% @profiles.each do |profile| %>
                <li>
                  <div class="card">
                    <div class="row">
                      <div class="small-4 columns profile-photo">
                        <%= link_to profile_url(profile) do %>
                          <%= image_tag "profile_pic_small.jpg", alt: "profile pic", class: "circular-profile-pic-small" %>
                        <% end %>
                        <div class="member-type">
                          <p>Premier</p>
                        </div>
                      </div>
                      <div class="small-8 columns">
                        <h5><%= link_to profile.name, profile_url(profile) %></h5>
                        <p class="company"><%= profile.company %></p>
                        <p>Member since: Dec 2013</p>
                        <p>
                          Skills:
                          <% profile.skill_list.first(4).each do |s| %>
                            <%= link_to s, profiles_url(skill: s) %><%= last_skill(s, profile.skill_list.first(4)) ? " ..." : "," %>
                          <% end %>
                        </p>
                        <%= link_to "Learn more", profile_url(profile) %>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
              <% unless @profiles.present? %>
                <h4 class="subheader">Sorry, there are no profiles matching your request.</h4>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <%= paginate @profiles %>
        </div>
      </div>
    </div>
  </div>
</div>