<%= content_for :title do %>
  Members of the Elgin Technology Center
<% end %>
<div class="row">
  <div class="large-12 columns">
    <div class="wrapper">
      <div class="row">
        <div class="large-6 medium-12 columns">
          <ul class="sub-nav profiles">
            <li class="<%= is_active_sub_nav?(nil) %>"><%= link_to "All", profiles_url %></li>
            <li class="<%= is_active_sub_nav?('companies') %>"><%= link_to "Companies", profiles_url(membership_type: 'companies') %></li>
            <li class="<%= is_active_sub_nav?('premier') %>"><%= link_to "Premier", profiles_url(membership_type: 'premier') %></li>
            <li class="<%= is_active_sub_nav?('member') %>"><%= link_to "Member", profiles_url(membership_type: 'member') %></li>
          </dl>
        </div>
        <div class="large-5 large-offset-1 medium-6 columns left">
          <%= form_tag(profiles_url, method: "get") do %>
            <div class="row">
              <div class="small-8 columns">
                <%= text_field_tag :search, nil, placeholder: "search by name or skill" %>
              </div>
              <div class="small-4 columns">
                <%= submit_tag "Search", class: "postfix search button" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <div class="card-wrapper">
            <ul class="large-block-grid-2 small-block-grid-1">
              <% if @profiles.present? && search_or_tag_params_present? %>
                <h5></h5>
                <h5 class="subheader profile-header-spacer">Profiles matching: <i><%= params[:search] %><%= params[:skill] %></i></h5>
              <% end %>
              <% @profiles.each do |profile| %>
                <%= render 'profile_card', object: profile %>
              <% end %>
              <% unless @profiles.present? %>
                <h5 class="subheader">Sorry, there are no profiles matching: <i><%= params[:search] %></i></h5>
                <h5 class="subheader profile-header-spacer">Here are some other members you might be interested in.</h5>
                <% @random_profiles.each do |profile| %>
                  <%= render 'profile_card', object: profile %>
                <% end %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <%= paginate @profiles %>
        </div>
      </div>
    </div>
  </div>
</div>