<%= content_for :title do %>
  Members of the Elgin Technology Center
<% end %>
<div class="row">
  <div class="large-12 columns">
    <div class="wrapper">
      <div class="row">
        <div class="large-6 medium-12 columns">
          <ul class="sub-nav profiles">
            <li><a href="#">All</a></li>
            <li><a href="#">Companies</a></li>
            <li class="active"><a href="#">Premier</a></li>
            <li><a href="#">Member</a></li>
          </dl>
        </div>
        <div class="large-5 large-offset-1 medium-6 columns left">
          <%= form_tag do %>
            <div class="row">
              <div class="small-8 columns">
                <%= text_field_tag :search, nil, placeholder: "search by name or skill" %>
              </div>
              <div class="small-4 columns">
                <%= submit_tag "Search", class: "postfix search button" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <div class="card-wrapper">
            <ul class="large-block-grid-2 small-block-grid-1">
              <li>
                <div class="card">
                  <div class="row">
                    <div class="small-4 columns center">
                      <%= link_to "/profiles/show" do %>
                        <%= image_tag "profile_pic_small.jpg", alt: "profile pic", class: "circular-profile-pic" %>
                      <% end %>
                      <div class="member-type">
                        <p>Premier</p>
                      </div>
                    </div>
                    <div class="small-8 columns">
                      <h5><%= link_to "James Stubblefield", "/profiles/show" %></h5>
                      <p class="company">Reading Glue</p>
                      <p>Member since: Dec 2013</p>
                      <p>
                        Skills:
                        <a href="#">ruby</a>,
                        <a href="#">rails</a>,
                        <a href="#">ruby on rails</a>,
                        <a href="#">html</a>,
                        <a href="#">css</a>,
                        <a href="#">entrepreneurship</a>,
                        <a href="#">startups</a>
                        ...
                      </p>
                      <%= link_to "Learn more", '/profiles/show' %>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="card">
                  <div class="row">
                    <div class="small-4 columns center">
                      <%= link_to "/profiles/show" do %>
                        <%= image_tag "profile_pic_small.jpg", alt: "profile pic", class: "circular-profile-pic" %>
                      <% end %>
                      <div class="member-type">
                        <p>Premier</p>
                      </div>
                    </div>
                    <div class="small-8 columns">
                      <h5><%= link_to "James Stubblefield", "/profiles/show" %></h5>
                      <p class="company">Reading Glue</p>
                      <p>Member since: Dec 2013</p>
                      <p>
                        Skills:
                        <a href="#">ruby</a>,
                        <a href="#">rails</a>,
                        <a href="#">ruby on rails</a>,
                        <a href="#">html</a>,
                        <a href="#">css</a>,
                        <a href="#">entrepreneurship</a>,
                        <a href="#">startups</a>
                        ...
                      </p>
                      <%= link_to "Learn more", '/profiles/show' %>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="card">
                  <div class="row">
                    <div class="small-4 columns center">
                      <%= link_to "/profiles/show" do %>
                        <%= image_tag "profile_pic_small.jpg", alt: "profile pic", class: "circular-profile-pic" %>
                      <% end %>
                      <div class="member-type">
                        <p>Premier</p>
                      </div>
                    </div>
                    <div class="small-8 columns">
                      <h5><%= link_to "James Stubblefield", "/profiles/show" %></h5>
                      <p class="company">Reading Glue</p>
                      <p>Member since: Dec 2013</p>
                      <p>
                        Skills:
                        <a href="#">ruby</a>,
                        <a href="#">rails</a>,
                        <a href="#">ruby on rails</a>,
                        <a href="#">html</a>,
                        <a href="#">css</a>,
                        <a href="#">entrepreneurship</a>,
                        <a href="#">startups</a>
                        ...
                      </p>
                      <%= link_to "Learn more", '/profiles/show' %>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="card">
                  <div class="row">
                    <div class="small-4 columns center">
                      <%= link_to "/profiles/show" do %>
                        <%= image_tag "profile_pic_small.jpg", alt: "profile pic", class: "circular-profile-pic" %>
                      <% end %>
                      <div class="member-type">
                        <p>Premier</p>
                      </div>
                    </div>
                    <div class="small-8 columns">
                      <h5><%= link_to "James Stubblefield", "/profiles/show" %></h5>
                      <p class="company">Reading Glue</p>
                      <p>Member since: Dec 2013</p>
                      <p>
                        Skills:
                        <a href="#">ruby</a>,
                        <a href="#">rails</a>,
                        <a href="#">ruby on rails</a>,
                        <a href="#">html</a>,
                        <a href="#">css</a>,
                        <a href="#">entrepreneurship</a>,
                        <a href="#">startups</a>
                        ...
                      </p>
                      <%= link_to "Learn more", '/profiles/show' %>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="card">
                  <div class="row">
                    <div class="small-4 columns center">
                      <%= link_to "/profiles/show" do %>
                        <%= image_tag "profile_pic_small.jpg", alt: "profile pic", class: "circular-profile-pic" %>
                      <% end %>
                      <div class="member-type">
                        <p>Premier</p>
                      </div>
                    </div>
                    <div class="small-8 columns">
                      <h5><%= link_to "James Stubblefield", "/profiles/show" %></h5>
                      <p class="company">Reading Glue</p>
                      <p>Member since: Dec 2013</p>
                      <p>
                        Skills:
                        <a href="#">ruby</a>,
                        <a href="#">rails</a>,
                        <a href="#">ruby on rails</a>,
                        <a href="#">html</a>,
                        <a href="#">css</a>,
                        <a href="#">entrepreneurship</a>,
                        <a href="#">startups</a>
                        ...
                      </p>
                      <%= link_to "Learn more", '/profiles/show' %>
                    </div>
                  </div>
                </div>
              </li>
              <li>
                <div class="card">
                  <div class="row">
                    <div class="small-4 columns center">
                      <%= link_to "/profiles/show" do %>
                        <%= image_tag "profile_pic_small.jpg", alt: "profile pic", class: "circular-profile-pic" %>
                      <% end %>
                      <div class="member-type">
                        <p>Premier</p>
                      </div>
                    </div>
                    <div class="small-8 columns">
                      <h5><%= link_to "James Stubblefield", "/profiles/show" %></h5>
                      <p class="company">Reading Glue</p>
                      <p>Member since: Dec 2013</p>
                      <p>
                        Skills:
                        <a href="#">ruby</a>,
                        <a href="#">rails</a>,
                        <a href="#">ruby on rails</a>,
                        <a href="#">html</a>,
                        <a href="#">css</a>,
                        <a href="#">entrepreneurship</a>,
                        <a href="#">startups</a>
                        ...
                      </p>
                      <%= link_to "Learn more", '/profiles/show' %>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <div class="pagination-centered">
            <ul class="pagination">
              <li class="arrow unavailable"><a href="">&laquo;</a></li>
              <li class="current"><a href="">1</a></li>
              <li><a href="">2</a></li>
              <li><a href="">3</a></li>
              <li><a href="">4</a></li>
              <li class="unavailable"><a href="">&hellip;</a></li>
              <li><a href="">12</a></li>
              <li><a href="">13</a></li>
              <li class="arrow"><a href="">&raquo;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>