<div class="row">
  <div class="large-12 columns">
    <div class="wrapper">
      <div class="row">
        <div class="medium-8 medium-centered columns">
          <h2>Resend unlock instructions</h2>

          <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f| %>

            <div><%= f.label :email %><br />
            <%= f.email_field :email, :autofocus => true %></div>
            <% if resource.errors.include?(:email) %>
              <div class="errors">
                <small class="error"><%= resource.errors.full_messages_for(:email).join(", ") %></small>
              </div>
            <% end %>

            <div><%= f.submit "Resend unlock instructions" %></div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
