<div class="row">
  <div class="large-12 columns">
    <div class="wrapper">
      <div class="row">
        <div class="medium-12 columns">
          <h2>All ETC Class Offerings</h2>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <div class="invite-user">
            <p>
              <%= link_to new_admin_class_offer_url do %>
                <%= fa_icon "plus-circle" %>
                Create a New Class
              <% end %>
            </p>
          </div>
        </div>
      </div>
      <table class="responsive users-table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Teacher</th>
            <th>Status</th>
            <th>Summary</th>
            <th>Cost</th>
            <th class="actions">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @class_offers.each do |class_offer| %>
            <tr>
              <td><%= link_to class_offer.name, admin_class_offer_url(class_offer) %></td>
              <td><%= class_offer.teacher %></td>
              <td class="uppercase"><span class="label <%= class_status(class_offer) %>"><%= class_offer.status %></span></td>
              <td><%= truncate(class_offer.summary, length: 30) %></td>
              <td>Non-Member: <%= class_offer.non_member_cost %><br>Standard Member: <%= class_offer.standard_member_cost %><br>Premier Member: <%= class_offer.premier_member_cost %></td>
              <td>
                <ul class="inline-list uppercase">
                  <li>
                    <%= link_to edit_admin_class_offer_url(class_offer), title: "Edit" do %>
                      <%= fa_stacked_icon "pencil", base: "circle" %>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to admin_class_offer_url(class_offer), method: "delete", data: {confirm: "Are you sure you want to delete this class?"}, title: "Delete" do %>
                      <%= fa_stacked_icon "trash-o", base: "circle" %>
                    <% end %>
                  </li>
                </ul>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="row">
        <div class="small-12 columns">
          <%= paginate @class_offers %>
        </div>
      </div>
    </div>
  </div>
</div>