<%= content_for :title do %>
  <%= @class_offer.name %>
<% end %>
<div class="row">
  <div class="large-12 columns">
    <div class="wrapper">
      <div class="profile-breadcrumbs">
        <ul class="breadcrumbs">
          <li><%= link_to "All Classes", admin_class_offers_url %></li>
          <li class="unavailable"><%= @class_offer.name %></li>
        </ul>
      </div>
      <%= render 'layouts/class_offer', object: @class_offer %>
    </div>
  </div>
</div>