<%= content_for :title do %>
  <%= @class_offer.name %>
<% end %>
<div class="row">
  <div class="large-12 columns">
    <div class="wrapper">
      <div class="profile-breadcrumbs">
        <ul class="breadcrumbs">
          <li><%= link_to "All Classes", admin_class_offers_url %></li>
          <li class="unavailable"><%= @class_offer.name %></li>
        </ul>
      </div>

      <div class="row">
        <div class="large-8 medium-7 columns">
          <h3 class="blue heavy"><%= @class_offer.name %> <span class="label <%= class_status(@class_offer) %>"><%= @class_offer.status.upcase %></span></h3>
          <h5 class="blue class-question">Class Summary</h5>
          <h6 class="class-desc"><%= simple_format(h @class_offer.summary.html_safe) %></h6>
          <h5 class="blue class-question">Schedule</h5>
          <h6 class="class-desc">
            <ul class="inline-list">
              <li><b>Start:</b> <%= @class_offer.start_date.strftime('%D') %></li>
              <li><b>End:</b> <%= @class_offer.end_date.strftime('%D') %></li>
              <li><b>When:</b> <%= @class_offer.time %></li>
            </ul>
          </h6>
          <h5 class="blue class-question">Cost</h5>
          <ul class="small-block-grid-3 pricing">
            <li>
              <div class="class-pricing">
                <div class="class-label">
                  <small>Non-Member</small>
                </div>
                <div class="class-price">
                  <%= dollar_sign?(@class_offer.non_member_cost) %><%= @class_offer.non_member_cost %>
                </div>
              </div>
            </li>
            <li>
              <div class="class-pricing">
                <div class="class-label">
                  <small>Standard</small>
                </div>
                <div class="class-price">
                  <%= dollar_sign?(@class_offer.standard_member_cost) %><%= @class_offer.standard_member_cost %>
                </div>
              </div>
            </li>
            <li>
              <div class="class-pricing">
                <div class="class-label">
                  <small>Premier</small>
                </div>
                <div class="class-price">
                  <%= dollar_sign?(@class_offer.premier_member_cost) %><%= @class_offer.premier_member_cost %>
                </div>
              </div>
            </li>
          </ul>
          <h5 class="blue class-question">What you will learn</h5>
          <div class="section">
            <ul class="medium-block-grid-2">
              <% @class_offer.learning_points.split(",").each do |point| %>
                <li class="no-padding"><%= point %></li>
              <% end %>
            </ul>
          </div>
          <h5 class="blue class-question">Requirements</h5>
          <h6 class="class-desc"><%= simple_format(h @class_offer.requirements.html_safe) %></h6>
          <h5 class="blue class-question">Taught By</h5>
          <div class="class-desc">
            <%= image_tag @class_offer.avatar.url(:thumb), class: "circular-profile-pic-small left" %>
            <p class="teacher-details"><b><%= @class_offer.teacher %></b><br><%= h @class_offer.teacher_profile.html_safe %></p>
          </div>

        </div>
        <div class="large-3 medium-4 columns large-offset-1">
          <h5 class="blue class-question">Register Link</h5>
          <%= link_to truncate(@class_offer.link, length: 25), @class_offer.link %> <br><br>
          <h5 class="blue class-question">Share</h5>
          <ul class="inline-list share">
            <li>
              <a href="https://twitter.com/home?status=Check%20out%20the%20Lean%20Startup%20101%20class%20that%20@ElginTech%20is%20offering%20http://www.elgintech.org/classes" class="share" title="Twitter">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x icon"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.elgintech.org/classes" class="share" title="Facebook">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x icon"></i>
                </span>
              </a>
            </li>
            <li>
              <a href="https://plus.google.com/share?url=http://www.elgintech.org/classes" class="share" title="Google+">
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-google-plus fa-stack-1x icon"></i>
                </span>
              </a>
            </li>
          </ul>
          <h5 class="blue class-question">Actions</h5>
          <ul class="inline-list share">
            <li>
              <%= link_to edit_admin_class_offer_url(@class_offer), title: "Edit" do %>
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-pencil fa-stack-1x icon"></i>
                </span>
              <% end %>
            </li>
            <li>
              <%= link_to admin_class_offer_url(@class_offer), method: "delete", data: {confirm: "Are you sure you want to delete this class?"}, title: "Delete" do %>
                <span class="fa-stack">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-trash-o fa-stack-1x icon"></i>
                </span>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>