<div class="row">
  <div class="medium-6 columns end">
    <%= f.check_box :admin %>
    <%= f.label :admin, "Make Admin?" %>
    <small class="error">First name is required</small>
  </div>
</div>
<div class="row">
  <div class="medium-6 columns end">
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name, autofocus: true, required: true %>
    <small class="error">First name is required</small>
  </div>
</div>
<div class="row">
  <div class="medium-6 columns end">
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name, required: true %>
    <small class="error">Last name is required</small>
  </div>
</div>
<div class="row">
  <div class="medium-6 columns end">
    <%= f.label :email %>
    <%= f.email_field :email, required: true, pattern: "email" %>
    <small class="error">A valid email is required</small>
    <% if resource.errors.include?(:email) %>
      <div class="errors">
        <small class="error"><%= resource.errors.full_messages_for(:email).join(", ") %></small>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="medium-6 columns end">
    <%= f.label :membership_type, "Membership Type" %>
    <%= f.select :membership_type, [ [ "Premier", "premier" ], [ "Standard", "standard" ] ], { prompt: "Please select", required: true } %>
    <small class="error">You must select a membership type</small>
    <% if resource.errors.include?(:membership_type) %>
      <div class="errors">
        <small class="error"><%= resource.errors.full_messages_for(:membership_type).join(", ") %></small>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="medium-6 columns end">
    <%= f.label :member_since, "Member Since" %>
    <%= f.date_field :member_since, required: true, pattern: "date" %>
    <small class="error">Date is required and must be in MM/DD/YYYY format</small>
  </div>
</div>