<footer id="footer">
  <div class="row">
    <div class="large-4 medium-4 columns">
      <h6 class="subheader">Links</h6>
      <ul class="small-block-grid-2">
        <li>
          <ul class="no-bullet nav">
            <li><%= link_to 'Home', root_url %></li>
            <li>
              <% if on_home_view? %>
                <%= link_to 'Benefits', '#detailed-points', class: "smooth" %>
              <% else %>
                <%= link_to 'Benefits', home_url(anchor: 'detailed-points') %>
              <% end %>
            </li>
            <% if on_home_view? %>
              <%= link_to "Connect", "#connect", class: "smooth on-page" %>
            <% else %>
              <%= link_to "Connect", home_url(anchor: 'connect') %>
            <% end %>
            <li><%= link_to "Sign In", new_user_session_url %></li>
            <!-- <li><a href="#">Blog</a></li> -->
          </ul>
        </li>
        <li>
          <ul class="no-bullet nav">
            <li><%= link_to "Directory", profiles_url %></li>
            <li><%= link_to 'Classes', classes_url %></li>
            <li><%= link_to 'Join Us', apply_url %></li>
            <!-- <li><a href="#">Blog</a></li> -->
          </ul>
        </li>
      </ul>
    </div>
    <div class="large-4 medium-4 columns">
      <h6 class="subheader">Upcoming Events</h6>
      <ul class="no-bullet nav">
        <li><a href="events.html">Calendar</a></li>
        <li>
          <div class="meetup">
            <a href="http://www.meetup.com/Elgin-Technology-Center/"><%= image_tag 'meetup.svg', alt: 'ETC Meetup' %></a>
          </div>
        </li>
      </ul>
    </div>
    <div class="large-4 medium-4 columns">
      <h6 class="subheader">Contact</h6>
      <ul class="no-bullet">
        <li class="fn">Elgin Technology Center</li>
        <li class="street-address">73 Riverside Drive, 3rd Floor</li>
        <li><span class="locality">Elgin</span>, <span class="state">Illinois</span> <span class="zip">60120</span></li>
        <li class="email"><a href="mailto:info@elgintech.org">info@elgintech.org</a></li>
        <li class="phone"><a href="tel:12243254382"> (224) 325-4382</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <div class="copyright">
        <p>&copy; Elgin Technology Center <%= Time.now.year %></p>
      </div>
    </div>
  </div>
</footer>