<div class="contain-to-grid">
  <nav class="top-bar" data-topbar data-options="is_hover: false">
    <ul class="title-area">
      <li class="name">
        <h4>
          <%= link_to root_url do %>
            <%= image_tag 'https://s3.amazonaws.com/elgintech.org/assets/etc_logo.svg', alt: 'ETC', class: 'etc_logo' %>
          <% end %>
        </h4>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section signed-in">
      <!-- Right Nav Section -->
      <ul class="right">
        <% if user_signed_in? %>
          <li class="has-dropdown">
            <%= link_to '#', class: "dropdown-top-item last-dropdown-item" do %>
              <div class="show-for-small-only">
                <% if current_user.has_profile? %>
                  <%= image_tag current_user.profile.avatar.url(:thumb), class: "nav-profile-pic" %>
                <% else %>
                  <%= image_tag "https://s3.amazonaws.com/elgintech.org/assets/empty_profile_photo.png", class: "nav-profile-pic" %>
                <% end %>
                <%= truncate(current_user.name, length: 22) %>
              </div>
              <div class="hide-for-small-only">
                <%= truncate(current_user.name, length: 30) %>
                <% if current_user.has_profile? %>
                  <%= image_tag current_user.profile.avatar.url(:thumb), class: "nav-profile-pic" %>
                <% else %>
                  <%= image_tag "https://s3.amazonaws.com/elgintech.org/assets/empty_profile_photo.png", class: "nav-profile-pic" %>
                <% end %>
              </div>
            <% end %>
            <ul class="dropdown">
              <li><%= link_to "Sign Out", destroy_user_session_url, method: "delete" %></li>
              <% if current_user.is_admin? %>
                <li><%= link_to "Admin", admin_users_url %></li>
              <% end %>
              <li><%= link_to "Account", user_root_url %></li>
              <li><%= link_to "Events", events_url %></li>
              <li><%= link_to "Classes", classes_url %></li>
              <li><%= link_to "Directory", profiles_url, class: "last-dropdown-item" %></li>
            </ul>
          </li>
          <!-- <li><a href="#">Blog</a></li> -->
        <% else %>
          <li><%= link_to "Events", events_url, class: "dropdown-top-item" %></li>
          <li><%= link_to "Classes", classes_url, class: "dropdown-top-item" %></li>
          <li class="has-dropdown">
            <%= link_to "Members", '#', class: "dropdown-top-item" %>
            <ul class="dropdown">
              <li><%= link_to "Directory", profiles_url %></li>
              <li><%= link_to "Sign In", new_user_session_url, class: "last-dropdown-item" %></li>
            </ul>
          </li>
          <li><%= link_to "Join ETC", apply_url, class: "dropdown-top-item dropdown-last-top-item" %></li>
          <!-- <li><a href="#">Blog</a></li> -->
        <% end %>
      </ul>
    </section>
  </nav>
</div>